*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(32, 24, 71);
}

.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*수평 수직 유지 */
    color: white;
    text-align: center;
}

.fa-brands{
    font-size: 10rem;
    color: yellow;
}

.lg-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.sm-text{
    font-size: 1.5rem;
}

#dynamic{
    position: relative;
    display: inline-block;
}

#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height: 100%;
    background-color: white;
}
#dynamic.active::after{/*none이 되면 커서가 사라짐*/
    display: none;
}